@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body with font */
body{
    font-family: "Mulish", sans-serif;
}
/* sheared style with overall projects */
.container{
    width: 80%;
    margin: 4rem auto;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
}
h3{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}
h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    opacity: 0.8;
}
.btn{
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    background-color: rgb(224, 44, 109);
    color: white;
    font-size: 1rem;
}
.menu{
    visibility: hidden;
}
/* specific style in the projects */

/* navbar section style */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-option{
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
}
.nav-option i{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.815);
}

/* banner section style */
.banner-section{
    display: flex;
    gap: 20%;
}
.banner-content{
    width: 40%;
}
.banner-content p{
    margin: 40px 0;
}
.banner-image{
    width: 40%;
}
/* social section style here */

.social-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-section img{
    width: 10%;
    gap: 20%;
}
/* card section style here */
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    margin: 20px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 40px 0 rgb(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.card p{
    max-width: 300px;
    margin: 10px 0;
    line-height: 1.5;
    word-wrap: break-word;
}
.card  i{
    color: rgb(251, 130, 0);
}

/* see more section */
.see-more{
    color: rgba(224, 44, 109, 0.87);

    text-align: end;
}
/* featured-section */
.featured-section{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.feature-image {
    width: 40%;
}
.feature-image img{
    width: 100%;
}
.feature-content{
    width: 40%;
    margin-top: 20px;
}
.feature-content p{
    margin: 30px 0;
    max-width: 400px;
    line-height: 1.5;
    word-wrap: break-word;
}

/* footer section style */
footer{
    background-color: rgba(15, 2, 2, 0.37);
    padding-bottom: 30px ;
}
.footer-section{
    text-align: center;
    padding-top: 50px;
}
.footer-section p{
    margin: 10px 0;
}
.footer-section i{
    font-size: 2rem;
    margin-left: 20px;
    color: whitesmoke;
}

/* media responsive for mobile device */
@media screen and (max-width: 576px) {
    .container{
        margin: 1rem auto;
    }
    .nav-bar{
        display: block;
    }
    .nav-option{
        visibility: hidden;
    }
    .menu{
       visibility: visible;
    }
    h2{
        font-size: 2rem;
        line-height: normal;
    }
    h3{
        font-size: 1.2rem;
        line-height: normal;
    }
    h4{
        font-size: 1rem;
        line-height: normal;
    }
    p{
        font-size: 14px;
        line-height: normal;
    }
    .btn{
        font-size: 14px;
        padding: 5px 10px;
        align-items: center;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-section img{
        width: 100%;
    }
    .social-section{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .social-section img{
        width: 150px;
        margin-top: 50px;
    }
    .card-container{
        grid-template-columns: 1fr;
    }
    .card{
        width: 100%;
    }
    .see-more{
        text-align: center;
    }
    .featured-section{
        flex-direction: column;
    }
    .featured-section img{
        width: 200px;
    }
}